#root{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

header, footer, section, nav{
  background-color:rgb(243, 198, 225);
  display: flex;
  align-items: center;
  justify-content: center;
}

section{
  min-height: 15rem;
}

ul{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
}


