body{/*Element selector*/
    background-color: burlywood;
    display: flex;
    gap: 1rem;/*1rem=16px*/
    flex-direction: column;/*to make section appear below header */
}

header{/*element ot type selector*/
    display: flex;
    width: 100%;/*relative width to body*/
    height: 4.5rem;/*relative height*/
    /*height: 100px; fixed height*/
    background-color: antiquewhite;
    border: 1px solid black;
    align-items: center;

    justify-content: space-around;
}

section{
    display: flex;
    width: 100%;
    height: 30rem;
    background-color: antiquewhite;
    flex-direction: column;
    padding-left: 1rem;

}

section h2{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

aside{
    display: flex;
    width: 100%;
    background-color: antiquewhite;
    height: 30rem;
    flex-direction: column;
    padding-left: 1rem;
}

ul{
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    list-style: none;
}

nav ul li:first-child{/*pseudo class*/
    font-weight: bold;
}

.logo{
    display: flex;
    font-size: 2rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: rgb(221, 17, 197);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.5rem;
    gap: 1rem;
}

form input{
    width: 80%;
    height: 3rem;
    border-radius: 0.5rem;
    border: 1px solid black;
}
form input::placeholder{
    font-size: 1rem;
    padding-left: 0.5rem;
}

.box{
    font-size: 3rem;
    padding: 10px;
    width: 80%;
    height:10rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

form button{
    width: 40%;
    height: 3rem;
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(221, 17, 197);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: green;
    color: white;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
ol{
    font-size: 1.5rem;
    list-style-type: lower-roman;
}

dl{
    font-size: 1.5rem;
}

dt, dd {
  display: inline;
  margin: 0;
}

dd::after { /*pseudo element*/
  content: "\A";
  white-space: pre;
}

td, th, tr{
    border: 1px solid black !important;
    font-size: 1.5rem;
    text-align: center;
}

table{
    border-collapse: collapse;
    width: 70%;
}

.box_model{
    display: flex;
    gap: 0;
    align-items: center;
}

.box_model h2{
    margin-bottom: 0;
}

.box{
    margin: 3rem;
    width: 40%;
    height: 20rem;
    border: 1px solid black;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
